<app-lab-header name="Завдання 2"></app-lab-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Завдання 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-task-description description="На заданому проміжку чисел [a, b] знайти суму всіх, які кратні 17
  та при діленні на 4 дають в остачі 2. Потрібно вивести як самі числа так і
  результати обрахунку."></app-task-description>
  <app-task2></app-task2>


</ion-content>
