ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  ion-card {
    flex-grow: 1;
    max-width: 100%;
  }
  
  .container {
    display: flex;
  }
  
  #inputCard {
    flex: 4;
  }
  
  #plotCard {
    flex: 6;
  }
  