<ion-content>
  <img src="assets/chrome_Rr9sm6BnbS.png" alt="Image">
  <div class="container">
    <ion-card id="inputCard">
      <ion-card-header>
        <ion-card-title>Вхідні дані</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input label="Початок" #Start type="number" value="-1"></ion-input>
        <ion-input label="Кінець" #Stop type="number" value="1"></ion-input>
        <ion-input label="Крок" #Step type="number" value="0.1"></ion-input>
        <ion-button (click)="calculateFunction(Start.value, Stop.value, Step.value)">Розрахунок</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card id="plotCard">
      <ion-card-header>
        <ion-card-title>Графік функції</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id="plotChart"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-grid *ngIf="this.tableData.length != 0">
    <ion-row>
      <ion-col> x </ion-col>
      <ion-col> Програмне </ion-col>
      <ion-col> Рекурсивне </ion-col>
      <ion-col> Ряд Тейлора </ion-col>
    </ion-row>
    <ion-row *ngFor="let row of this.tableData">
      <ion-col>{{ row.x }}</ion-col>
      <ion-col>{{ row.builtInY }}</ion-col>
      <ion-col>{{ row.recursionY }}</ion-col>
      <ion-col>{{ row.taylorY }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

